# This is a basic workflow that is manually triggered

name: Publish
# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
       version:
          description: 'New version'     
          required: true        

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
           toolchain: stable
           override: true
      - name: Install Tag Generator
        run: cargo install cargo-v
      - name: Generate Tag
        run: cargo v ${{ github.event.inputs.version }} -y
      - name: Add Tag to git
        run: git add .
      - name: Commit Tag
        run: git commit -m "Generating Tag v${{ github.event.inputs.version }}"
      - name: Push tag
        run: git push origin main --tags
      - uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
