# This is a basic workflow that is manually triggered

name: Publish
# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
       version:
          description: 'Publish a new version'     
          required: true        

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
           toolchain: stable
           override: true
      - name: Install Tag Generator
        run: cargo install cargo-v
      - name: Generate Version
        run: cargo v ${{ github.event.inputs.version }} -y
      - name: Gemerate Tag
        run: git tag v${{ github.event.inputs.version }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[Bot] Creating Tag" 
          commit_user_name: leonardogolfeto
          commit_user_email: leo_16-08@hotmail.com
          commit_author: leonardogolfeto <leo_16-08@hotmail.com>
      - uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
